.userInputWrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    label{
        color: green;
        font-weight: bold;
    }
    .userInput{
        margin: 20px;
        width: 200px;
        height: 20px;
        text-align: center;
        outline: none;
        border: 2px solid green;
    }
    button{
        border: 2px solid green;
        color: green;
        background-color: white;
        height: 25px;
        outline: none;
        &:hover{
            background-color: green;
            color: white;
        }
    }
    
}

