.sunSvg{
    position: fixed;
    top: 10px;
    left: 10px;
}
.shineRotate{
    animation: shineRotate 2s linear 1;
}
.shineColor{
    animation: shineColor 2s linear 1;
}
@keyframes shineRotate{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
@keyframes shineColor{
    0% {fill: orange;}
    100% {fill: orangered;}
}