.header{
    width: 100%;
    margin-top: 60px;
    
    .inputArea{
        display: inline;

        input{
            text-align: center;
            display: block;
            margin: auto;
            padding: 10px;
            border: none;
            outline-style: none;
            font-size: 20px;
        }
        .leaf{
            background-color: #537126;
            border-radius: 48% / 72% 0;
            width: 100px;
            height: 70px;
            position: absolute;
            left: 65%;
            top: 25px;
            transform: rotate(10deg);
            z-index: 1;
            line-height: 70px;
            text-align: center;
            color: white;
            cursor: pointer;
        }
    }
    .horizontalBranch{
        background-color: #433b2e;
        width: 40%;
        height: 20px;
        margin: auto;
        border-radius: 8px;
    }
    .verticalBranch{
        background-color: #433b2e;
        height: 50px;
        width: 20px;
        margin: auto;
    }
}

